/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #94d5eb; }

.hamburger-box {
  width: 30px;
  height: 18px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #94d5eb;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }

/*
 * Collapse
 */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -16px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

.gp-site-header {
  text-align: center; }
  .gp-site-header__wrapper {
    position: relative; }
    @media (max-width: 700px) {
      .gp-site-header__wrapper {
        height: 90px; } }
    @media (max-width: 500px) {
      .gp-site-header__wrapper {
        height: 80px; } }
  .gp-site-header__scrolling-container {
    padding: 0 0 10px 18px;
    text-align: left;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    -webkit-overflow-scrolling: touch; }
    @media (min-width: 700px) {
      .gp-site-header__scrolling-container {
        display: none; } }
    .gp-site-header__scrolling-container::-webkit-scrollbar {
      display: none; }
    .gp-site-header__scrolling-container .menu-item {
      list-style: none;
      display: inline-block;
      margin-right: 25px; }
      .gp-site-header__scrolling-container .menu-item a {
        color: black !important; }
      .gp-site-header__scrolling-container .menu-item.current_page_item a, .gp-site-header__scrolling-container .menu-item.current-menu-item a {
        color: #94d5eb !important; }
  .gp-site-header__scrolling-nav {
    margin: 0; }
  .gp-site-header__menu-toggle {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-41%); }
    @media (min-width: 700px) {
      .gp-site-header__menu-toggle {
        display: none; } }
    @media (max-width: 500px) {
      .gp-site-header__menu-toggle {
        left: 5px; } }
  .gp-site-header__logo {
    display: inline-block;
    margin: 40px 0; }
    @media (max-width: 700px) {
      .gp-site-header__logo {
        margin: 15px 0; } }
    .gp-site-header__logo img {
      height: 50px !important; }
      @media (max-width: 500px) {
        .gp-site-header__logo img {
          height: 40px !important;
          max-height: 40px !important;
          margin: 5px 0; } }
  .gp-site-header__nav-container {
    position: relative; }
    @media (max-width: 700px) {
      .gp-site-header__nav-container {
        display: none; } }
  .gp-site-header__nav {
    display: flex;
    margin: 0 auto 15px;
    width: 90%;
    justify-content: center; }
    @media (max-width: 700px) {
      .gp-site-header__nav {
        height: calc(100vh - 90px);
        z-index: 2;
        background: white;
        width: 100%;
        flex-direction: column;
        padding: 10% 0 50%; } }
    .gp-site-header__nav .menu-item {
      flex: 0;
      margin: 0 15px;
      list-style: none; }
      @media (max-width: 700px) {
        .gp-site-header__nav .menu-item {
          margin: 0;
          flex: 1; } }
      .gp-site-header__nav .menu-item a {
        color: black;
        font-size: 18px; }
        @media (max-width: 700px) {
          .gp-site-header__nav .menu-item a {
            display: block; } }
      .gp-site-header__nav .menu-item a:hover {
        color: #94d5eb; }
    .gp-site-header__nav .menu-item.current_page_item a,
    .gp-site-header__nav .menu-item.current-menu-item a {
      color: #94d5eb !important; }

/*# sourceMappingURL=main.css.map */
