.gp-mobile-header {
  height: calc(100vh - 96px);
  top: 96px;
  z-index: 2;
  background: white;
  width: 100%;
  padding: 15px;
  overflow-y: scroll;
  position: fixed;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.is-active {
    transform: none;
    opacity: 1;
  }

  @media (min-width: 700px) {
    display: none;
  }

  .yikes-easy-mc-success-message,
  .yikes-easy-mc-error-message {
    margin-bottom: 10px;
  }

  .yikes-easy-mc-form {
    display: flex;

    input[type="email"] {
      border-radius: 0;
      background: white;
      border: 1px solid black;
      border-left: 3px solid black;
      border-right: 3px solid black;
      padding: 10px;
      outline: none !important;
      height: 40px;
    }

    button {
      flex: 0;
      border-radius: 0;
      background: black;
      margin: 0 0 0 10px;
      min-height: 0;
      height: 40px;
      padding: 3px 10px 0;
    }

    span.EMAIL-label {
      display: none;
    }
  }
}
.gp-mobile-header__section {
  text-align: left;

  & + & {
    margin-top: 25px;
  }
}
.gp-mobile-header__title {
  font-size: 0.75rem;
  font-weight: 600;
}
.gp-mobile-header__subtitle {
  color: #999 !important;
  margin: 5px 0 10px !important;
}
.gp-mobile-header__nav {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.gp-mobile-header__nav-link {
  flex: 0 50%;
  width: 50%;
  padding: 10px 0;
  font-size: 0.85rem;
  color: #999 !important;
}
.gp-mobile-header__socials {
  margin: 15px 0;
}
.gp-mobile-header__social {
  display: inline-block;
  margin: 0 10px;

  &:first-of-type {
    margin-left: 0;
  }

  img {
    width: 20px;
    height: 20px;
  }
}